
<html>
<body>
	<div class="LoginForm" align="center">
		<h1> Admin </h1>
		<div class="Email">
			 
			<input type="text"  placeholder="Email" [(ngModel)]="email"><br><br>
		</div>
		<div class="password">
			<input type="password" placeholder="Password"[(ngModel)]="password"><br><br><br>
		</div>
		
		<button mat-raised-button class="favorite styled"
         (click)="Login()">
    Login
</button>
	</div>
</body>
</html> 

