  body{
    background-color: blue;
    margin: 0;
    padding: 10%;
    /* background-size: contain;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-origin: padding-box;
    background-repeat: no-repeat;

    font-family: sans-serif;
    

  }


  .LoginForm{
   position: relative;
   top: 200px;
   left: 50%;
   height: 450px;
   width: 370px;
   background: rgba(0, 13, 0, 0.5);
   padding: 70px 30px;
   box-sizing: border-box;
   transform: translate(-50%,-50%);
   display: flex;
   flex-direction: column;
  }
  h1{
   margin: 0;
   padding: 0 0 40px;
   text-align: center;
   font-weight: bold;
   font-size: 50px;
   color: #FFF;
  }
  .LoginForm p{
   color: #ffff;
   margin: 0;
   padding: 0;
   font-weight: bold;
  }
  .LoginForm input{
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
  }
  .LoginForm input[type="text"],
  .LoginForm input[type="password"]
  {
   border: none;
   border-bottom: 1px solid #ffff;;
   outline: none;
   height: 40px;
   color: #FFF;
   font-size: 20px;
   background: transparent;
   display: flex;
   /*flex-direction: column;*/

  }


    .styled {
      border: 0;
      line-height: 2.5;
      padding: 0 20px;
      font-size: 1rem;
      text-align: center;
      color: #fff;
      cursor: pointer;
      background: #39dc79;



      text-shadow: 2px 2px 2px #000;
      /* border-radius: 10px;*/
      background-color: rgba(220, 0, 0, 1);
      background-image: linear-gradient(to top left,
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2) 30%,
        rgba(0, 0, 0, 0));
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
      inset -2px -2px 3px rgba(0, 0, 0, .6);
    }

    .styled:hover {
      background-color: rgba(255, 0, 0, 1);
    }

    .styled:active {
      box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
      inset 2px 2px 3px rgba(0, 0, 0, .6);
    }

