
<table *ngIf="dataSource.length >0" mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

  <ng-container matColumnDef="pollId">
    <th mat-header-cell *matHeaderCellDef>Poll Id</th>
    <td mat-cell *matCellDef="let dataSource"> {{ dataSource.pollId}} </td>
  </ng-container>

 <!--  Name Column -->
  <ng-container matColumnDef="pollTitle">
    <th mat-header-cell *matHeaderCellDef>Poll Title </th>
    <td mat-cell *matCellDef="let  dataSource"> {{ dataSource.pollTitle}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status </th>
    <td mat-cell *matCellDef="let dataSource">
        <button *ngIf="dataSource.status === 'approved'" mat-raised-button color="primary" (click)="toggleStatus(dataSource.status ,dataSource.pollId)" >Approved</button>
        <button *ngIf="dataSource.status === 'disapproved'" mat-raised-button color="warn" (click)="toggleStatus(dataSource.status, dataSource.pollId)">Disapproved</button>
        <button *ngIf="dataSource.status === 'pending'" mat-raised-button (click)="toggleStatus(dataSource.status, dataSource.pollId)">Pending</button>
    </td>
  </ng-container>

<!--   Weight Column -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef>User Id </th>
    <td mat-cell *matCellDef="let  dataSource"> {{ dataSource.userId}} </td>
  </ng-container>
  
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date </th>
    <td mat-cell *matCellDef="let  dataSource"> {{ dataSource.date}} </td>
  </ng-container>
  
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>Time </th>
    <td mat-cell *matCellDef="let  dataSource"> {{ dataSource.time}} </td>
  </ng-container>



   

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>



 